.header-buttons, .page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    background-color: #ffffff;

    &:hover {
        color: white;
        background-color: #0d6efd;
    }
}

.invalid-feedback {
    display: block;
}
